.form {
    .title {
        font-size: 22px;
        margin-top: 50px;
        text-align: center;
    }
    input {
        width: 300px;
        // width: 80vw;
        // max-width: 300px;
    }
    .loading {
        text-align: center;
        font-size: 18px;
    }
    .submitbutton {
        display: block;
        color: #00a1b6;
        margin: 10px auto;
        margin-bottom: 50px;
    }
    .subtitle {
        text-align: center;
    }
    .error_title {
        text-align: center;
        margin-bottom: 30px;
        color: red;
    }
    .regbutton {
        display: block;
        // margin: 30px auto;
        color: #00a1b6;
        text-align: center;
    }
}

.profile_form {
    .profile_box {
        text-align: center;
    }
    .field {
        width: 80%;
        margin-bottom: 20px;
    }
    .title {
        font-size: 22px;
        margin-top: 50px;
        margin-bottom: 30px;
        text-align: center;
    }
    .subtitle {
        text-align: center;
        margin-top: 60px;
    }
    .save_button {
        margin: 20px auto;
    }
    .delete {
        display: block;
        margin: 30px auto;
        width: 150px;
    }
    label {
        color: grey;
        text-align: left;
        margin-left: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}