.task_form {
    .modal_close {
        position: absolute;
        top: 25px;
        right: 25px;
        color: #808080;
        cursor: pointer;
        &:hover {
            color: #000;
        }
    }
    .title {
        font-size: 22px;
        margin-bottom: 20px;
        text-align: center;
    }
    .field {
        width: 100%;
        margin: 20px auto;
    }
    .loading {
        text-align: center;
        font-size: 18px;
    }
    .submitbutton {
        display: block;
        color: #00a1b6;
        margin: 10px auto;
    }
}